:root {
    --primary: #a87e2e;
    --bg: #010101;
}

* {
    border: none;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background-color: var(--bg);
    color: #fff;
    min-height: 2000px;
}

.ukuran {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.ukuran>h1 {
    font-style: italic;
}

.ukuran h1 span {
    color: var(--primary);
}

.navbar .ukuran {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    background-color: rgba(1, 1, 1, 0.8);
    backdrop-filter: blur(5px);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgb(51, 37, 24);
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
}

.navbar-menu {
    display: flex;
    gap: 1.5rem;
}

.navbar-nav {
    display: flex;
    gap: 1.5rem;
}

.navbar-nav li {
    list-style: none;
}

.icon {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.icon a:nth-last-of-type(1) {
    display: none;
}

.icon a {
    color: #fff;
    font-size: 1.3rem;
    transition: color 0.3s ease;
}

.icon a i {
    display: flex;
}

.icon a:hover {
    color: var(--primary);
}

.icon a::after {
    content: '';
    display: block;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.5s ease;
}

.icon a:hover::after {
    transform: scaleX(1);
}

.navbar-nav a {
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar .navbar-nav a:hover {
    color: var(--primary);
}

.navbar .navbar-nav a::after {
    content: '';
    display: block;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.5s ease;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(1);
}

/* hero section */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../images/mie-enhanced.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(1, 1, 3, 1) 3%, rgba(255, 255, 255, 0) 25%);
}

.hero .content {
    z-index: 1;
}

.hero .content h1 {
    font-size: 4rem;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.1;
    margin: 0;
}

.hero .content h1 span {
    color: var(--primary);
    margin: 1.5rem;
}

.hero .content p {
    font-size: 1rem;
    color: #fff;
    margin: 1rem 0;
    line-height: 1.4;
    font-weight: 100;
}

.hero .content .cta {
    display: inline-block;
    margin-top: 0.5rem;
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    background-color: var(--primary);
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}

.content .cta:hover {
    background-color: #c58f29;
}

/* about section */
.about {
    padding: 1.4rem 5%;
}












/* fitur */
features {
    text-align: center;
}

features h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: var(--primary);
}

.fitur {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.fitur-kartu {
    background-color: var(--primary);
    padding: 2rem;
    border-radius: 12px;
    max-width: 230px;
    flex: 1;
    transition: transform 0.3s;
    font-size: 1.2rem;
}

.fitur-kartu:hover {
    transform: translateY(-5px);
}

.fitur-logo {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.mainDiv {
    padding: 1.4rem 5%;
}

.mainDiv>p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}































/* media queries */
@media (max-width: 600px) {
    .navbar-nav {
        position: absolute;
        top: 73%;
        right: 5%;
        left: auto;
        background-color: var(--primary);
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

        /* animasi */
        opacity: 0;
        transform: translateY(-29px);
        pointer-events: none;
        transition: all 0.3s ease;
    }

    .navbar-nav.hurung {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .icon a:nth-last-of-type(1) {
        display: inline-block;
    }

    .hero .content h1 span {
        display: block;
        margin: 0.5rem 0 0 0;
    }

    .navbar .navbar-nav a:hover,
    .navbar .navbar-nav a:active,
    .navbar .navbar-nav a:focus {
        color: #fff !important; /* samakan dengan warna normal */
    }
    .navbar .navbar-nav a:hover::after {
        transform: scaleX(0); /* hilangkan underline animasi */
    }

}